<div>
    <hc-tab-set direction="horizontal" [addContentContainer]="false">
        <hc-tab tabTitle="Term List"></hc-tab>
        <button hc-button buttonStyle="link" size="sm" (click)="getFormFillData(null, addRequestModal)">
            <hc-icon fontSet="fa" fontIcon="fa-plus" hcIconSm class="hc-icon-left"></hc-icon>
            Add Term
        </button>
    </hc-tab-set>
    <div class="usage-table-filters">
        <hc-search-bar (triggerSearch)="applyFilter($event)"></hc-search-bar>
        <div class="usage-table-filters_categories">
            <hc-form-field class="usage-table-filters-filter" inline>
                <hc-label>Term Type:</hc-label>
                <hc-select [formControl]="selectedTypesControl" (change)="applyFilter(searchTerm)">
                    <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
                </hc-select>
            </hc-form-field>
            <hc-form-field class="usage-table-filters-filter" inline>
                <hc-label>Category:</hc-label>
                <hc-select [formControl]="selectedCategoriesControl" (change)="applyFilter(searchTerm)">
                    <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat }}</option>
                </hc-select>
            </hc-form-field>
        </div>
    </div>

    <!-- Spinner while terminology is being loaded -->
    <div *ngIf="termsLoading && !loadFailed" class="loading-message">
        <hc-progress-spinner color="purple" [diameter]="75"></hc-progress-spinner>
    </div>

    <!-- Error loading content -->
    <div *ngIf="!termsLoading && loadFailed" class="terminology-load-error">
        <hc-icon fontSet="fa" fontIcon="fa-warning"></hc-icon>
        There was an error loading the term list. Click below try again.
        <button hc-button size="lg" (click)="ngOnInit()">Reload Terms</button>
    </div>

    <div [hidden]="termsLoading || loadFailed">
        <table hc-table [dataSource]="dataSource">
            <!-- Term Column -->
            <ng-container hcColumnDef="term">
                <th hc-header-cell style="width: 15%;" *hcHeaderCellDef>Term</th>
                <td hc-cell style="width: 15%;" *hcCellDef="let usageItem"><span [innerHTML]='usageItem.TermName'></span></td>
            </ng-container>

            <!-- Usage Column -->
            <ng-container hcColumnDef="usage">
                <th hc-header-cell *hcHeaderCellDef>Definition or Guideline</th>
                <td hc-cell *hcCellDef="let usageItem"><span class="term-field" [innerHTML]='usageItem.TermUsage'></span></td>
            </ng-container>

            <!-- Example Column -->
            <ng-container hcColumnDef="example">
                <th hc-header-cell style="width: 37%;" *hcHeaderCellDef>Usage Example</th>
                <td hc-cell style="width: 37%;" *hcCellDef="let usageItem"><span class="term-field" [innerHTML]='usageItem.TermExample'></span></td>
            </ng-container>

            <!-- Edit Buttons -->
            <ng-container hcColumnDef="edit">
                <th hc-header-cell style="width: 3%;" *hcHeaderCellDef style="border-left-style: none;">Edit</th>
                <td hc-cell style="width: 3%;" *hcCellDef="let usageItem" style="border-left-style: none;">
                    <button *ngIf=true hc-icon-button (click)="getFormFillData(usageItem, addRequestModal)"><hc-icon fontSet="hc-icons" fontIcon="hci-scratch-pad" hcIconMd></hc-icon></button>
                </td>
            </ng-container>

            <tr hc-header-row *hcHeaderRowDef="displayedColumns"></tr>
            <tr hc-row *hcRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <hc-pagination [length]="length" [(pageNumber)]="pageNumber" pageSize="10" [hidePageSize]="false" [pageSizeOptions]="pageOpts"></hc-pagination>
    </div>
</div>

<ng-template #addRequestModal let-dismiss="dismiss" let-data="data">
    <hc-modal>
        <hc-modal-header>Terminology Change Request</hc-modal-header>
        <hc-modal-body>
            <form [formGroup]="addChangeControl">
                <hc-form-field>
                    <hc-label>Term to {{data ? 'Change' : 'Add'}}:</hc-label>
                    <input hcInput formControlName="name" placeholder="What term would you like to add?" [required]="true" />
                    <hc-error>A term is required</hc-error>
                </hc-form-field>
                <hc-form-field>
                    <hc-label>Definition/Usage Rule:</hc-label>
                    <input hcInput formControlName="usage" placeholder="What is the definition/usage rule for this term?" [required]="true" />
                    <hc-error>Usage is required</hc-error>
                </hc-form-field>
                <hc-form-field>
                    <hc-label>Comments (optional):</hc-label>
                    <textarea hcInput rows="4" cols="50" formControlName="comments" placeholder="Why are you suggesting this change?" ></textarea>
                </hc-form-field>
                <hc-form-field>
                    <hc-label>Contributor Name:</hc-label>
                    <input hcInput formControlName="contributorName" placeholder="What is your name?" [required]="true" />
                    <hc-error>Contributor name is required</hc-error>
                </hc-form-field>
                <hc-form-field>
                    <hc-label>Contributor Email:</hc-label>
                    <input hcInput formControlName="contributorEmail" placeholder="At what email can we reach you?" [required]="true" />
                    <hc-error>Contributor is required</hc-error>
                </hc-form-field>
            </form>
        </hc-modal-body>
        <hc-modal-footer>
            <button hc-button buttonStyle="link" (click)="dismiss()">Cancel</button>
            <button
                hc-button
                [disabled]="!addChangeControl.dirty || !addChangeControl.valid"
                (click)="dismiss(); submitRequest();"
            >
                Submit
            </button>
        </hc-modal-footer>
    </hc-modal>
</ng-template>