@import 'colors';

header {
    max-width: 720px;
    margin: 50px auto 60px auto;
}

button {
    width: 180px;
}

a, a:visited {
    color: $primary-brand;
}

.headerLeft {
    display: inline-block;
    padding-left: 40px;
    padding-right: 80px;
    vertical-align: middle;
}

.headerLeft img {
    height: 190px;
    width: auto;
}

.headerCopy {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 25px;
}

.headerRight {
    display: inline-block;
    padding-right: 40px;
    vertical-align: middle;
}

.headerRight img {
    height: 55px;
    width: auto;
}

@media screen and (max-width: 740px)
{
    header {
        margin: 30px auto 40px auto;
        display: block;
        text-align: center;
    }

    .headerLeft {
        padding: 0;
        display: flex;
    }

    .headerLeft img {
        margin: auto;
        padding-top: 20px;
    }

    .headerRight {
        text-align: center;
        padding: 0;
        margin: 20px;
    }

    .headerRight img { height: unset; }
}

main {
    background-color: #fafafa;
    width: 100%;
    border-top-width: 2px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    align-content: center;
    padding-top: 60px;
}

section {
    max-width: 1024px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    padding-bottom: 80px;
}

section button {
    margin: auto;
}

.sectionCenter {
    display: flex;
    align-items: center;
    max-height: 320px;
}

.sectionOneText { padding-left: 100px; }
.sectionOneTextWrapper { max-height: 370px; }
.sectionOneImg { width: 100%; }
.sectionOneImg img {
    max-width: 432px;
    width: 100%;
    height: auto;
}

.sectionTwo { padding-bottom: 30px; }
.sectionTwoText { padding-right: 20%; }
.sectionTwoImg {
    width: 100%;
    max-width: 280px;
}
.sectionTwoImg img {
    max-width: 293px;
    width: 100%;
    height: auto;
}

.sectionThreeText { padding-left: 15%; }
.sectionThreeTextWrapper { max-height: 472px; }
.sectionThreeImg {
    width: 100%;
    max-width: 300px;
}
.sectionThreeImg img {
    max-width: 261px;
    width: 100%;
    height: auto;
}

.getStarted {
    margin: auto;
    display: table;
}

@media screen and (max-width: 740px)
{
    main { text-align: center; }

    section {
        margin: 0;
        display: block;
        text-align: center;
        padding: 0 0 50px 0;

    }

    section span{ width: 100%; }

    .sectionCenter {
        max-height: unset;
        padding-bottom: 20px;
        display: unset;
    }

    .sectionOneImg img, .sectionTwoImg img, .sectionThreeImg img {
        display: inline-block;
        width: 70% !important;
    }

    .sectionTwoImg img { padding-top: 30px; }
    .sectionThreeImg img { padding-bottom: 30px; }

    .sectionOneText, .sectionTwoText, .sectionThreeText {
        padding: 0;
        margin-left: 40px;
        margin-right: 40px;
    }

}

footer {
    background-color: $charcoal-blue;
    color: $white;
    min-height: 80px;
    width: 100%;
}

.footerLogo {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0px 20px 30px;
}

.footerLogo img {
    height: 40px;
    width: auto
}

.footerVersion {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.footerLicense {
    float: right;
    display: table;
    height: 80px;
    font-size: 13px;
    margin-right: 20px;
}

.footerLicense p {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

@media screen and (max-width: 740px)
{
    footer {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }

    .footerLogo {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .footerVersion {
        width: 100%;
        margin: 0;
    }

    .footerLicense {
        width: 100%;
        float: none;
        display: unset;
        margin: 0;
        padding-bottom: 20px;
    }

    .footerLicense p { text-align: center; }
}
