.sample-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    [hc-button], hc-split-button {
        margin-top: 10px;
        margin-right: 30px;
    }
}

[hc-button] {
    hc-icon {
        margin-right: 6px;
    }
}
