<div class="demo-content">
    <button hc-button
        title="Back to List"
        buttonStyle="link"
        class="persona-back-button"
        [routerLink]="referrer"
        [queryParams]="referrer === '/content/org-chart' ? {section: 'organization-chart'} : {}"
    >
        <hc-icon hcIconSm fontSet="fa-solid" fontIcon="fa-chevron-left" class="icon-left"></hc-icon>
        {{ backText }}
    </button>
</div>
<div class="demo-content persona-viewer-container" [hcMarkdown]="document"></div>
