<div class="demo-content">
    <h1>Persona Organzation Chart</h1>
    <h6>Last updated Nov 30, 2020</h6>

    <hc-tile>
        <h5 id="overview">Overview</h5>

        <p>
            Health Catalyst's customers encompass a broad range of healthcare professionals.
            We have developed a collection of user personas that represent archetypes of these individuals.
            These personas help us illustrate the wants, needs, and goals of groups within our customers.
            Each of our products and services has their own primary and secondary personas, and as an organization it’s important that we understand how they all fit together.
            The hypothetical organization chart below is one way to visualize that.
        </p>

        <p>
            Health Catalyst products and services are design to meet the needs of not only external customers, but also internal team members.
            As a result, the chart below is divided into sections of external buyers/users and internal users.
            A complete listing of all our available personas may be found on the <a [queryParams]="{referrer: 'chart'}" routerLink="/content/personas">Persona List</a> page.
        </p>
    </hc-tile>

    <hc-tile>
        <h5 id="organization-chart">Organization Chart</h5>

        <div class="org-container">
            <img src="./assets/persona_org_chart.png" alt="Persona Org Chart" width="2435" height="580" usemap="#OrgChartMap"/>
        </div>
    </hc-tile>

    <hc-feedback-form></hc-feedback-form>
</div>

<map name="OrgChartMap">
    <!-- Healthcare Organization Personas -->
    <area id="Healthcare Executive Top" shape="rect" coords="0,73,1481,167" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/healthcare-executive">
    <area id="Healthcare Executive Left" shape="rect" coords="0,167,145,207" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/healthcare-executive">
    <area id="Chief Pop Health Officer" shape="rect" coords="144,167,279,207" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/chief-population-health-officer">
    <area id="Healthcare Executive Middle" shape="rect" coords="279,167,834,207" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/healthcare-executive">
    <area id="Chief Quality Officer" shape="rect" coords="833,167,946,207" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/chief-quality-officer">
    <area id="Healthcare Executive Right" shape="rect" coords="945,167,1481,207" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/healthcare-executive">
    <area id="Healthcare Executive Bottom" shape="rect" coords="0,207,1481,224" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/healthcare-executive">

    <area id="Care Management Director" shape="rect" coords="88,238,210,287" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/care-management-director">
    <area id="Care Management Admin" shape="rect" coords="88,298,210,347" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/care-management-admin">
    <area id="Care Coordinator" shape="rect" coords="88,354,209,405" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/care-team-lead">

    <area id="Active Care Mgmt Patient" shape="rect" coords="14,479,160,527" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/active-care-management-patient">
    <area id="Self-Enrolled Patient" shape="rect" coords="173,479,300,527" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/self-enrolled-patient">

    <area id="Pop Health Data Analyst" shape="rect" coords="216,238,342,287" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/population-health-analyst">

    <area id="Lead Physician" shape="rect" coords="373,238,495,290" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/lead-physician">
    <area id="Nursing Lead" shape="rect" coords="373,298,496,347" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/nursing-lead">
    <area id="Ambulatory Provider" shape="rect" coords="305,363,428,416" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/ambulatory-clinician">
    <area id="Inpatient Provider" shape="rect" coords="439,364,562,417" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/inpatient-clinician">
    <area id="Clinical Researcher" shape="rect" coords="510,238,632,288" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/clinical-quality-researcher">

    <area id="Program Director" shape="rect" coords="658,238,780,400" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/program-director">

    <area id="Patient Safety Clinical Investigator" shape="rect" coords="815,238,962,290" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/patient-safety-clinical-investigator">

    <area id="BI Developer" shape="rect" coords="784,445,908,498" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/bi-developer">
    <area id="Clinical Data Analyst" shape="rect" coords="656,445,780,498" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/clinical-quality-data-analyst">
    <area id="Data Steward" shape="rect" coords="528,445,653,498" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/data-steward">

    <area id="EDW Manager" shape="rect" coords="981,238,1112,291" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/edw-manager">
    <area id="Data Engineer" shape="rect" coords="981,292,1112,345" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/data-engineer">
    <area id="System Administrator" shape="rect" coords="1115,238,1246,291" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/system-administrator">

    <area id="VP of Finance" shape="rect" coords="1317,238,1443,291" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/cost-management-director">
    <area id="Costing Manager" shape="rect" coords="1233,307,1359,360" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/cost-center-manager">
    <area id="Cost Analyst" shape="rect" coords="1233,375,1359,428" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/cost-analyst-accountant">
    <area id="Budgeting Manager" shape="rect" coords="1429,307,1558,360">
    <area id="Central Finance Analyst" shape="rect" coords="1364,375,1493,428">
    <area id="Field Finance Analyst" shape="rect" coords="1495,375,1624,428">

    <!-- Health Catalyst Personas -->
    <area id="Health Catalyst Data Engineer" shape="rect" coords="1513,101,1654,150" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-data-engineer">
    <area id="Health Catalyst Technical Director" shape="rect" coords="1656,101,1796,150" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-technical-director">

    <area id="Health Catalyst Software Engineer" shape="rect" coords="1806,101,1948,150" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-software-engineer">

    <area id="Analytics Director" shape="rect" coords="1959,101,2097,150" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-analytics-director">
    <area id="Health Catalyst Subject Matter Expert" shape="rect" coords="2109,102,2259,151" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-domain-sme">
    <area id="Analytics Engineer" shape="rect" coords="1959,158,2097,206" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-analytics-engineer">
    <area id="Engagement Lead" shape="rect" coords="2265,102,2415,151" [queryParams]="{referrer: 'chart'}" routerLink="/content/personas/health-catalyst-engagement-lead">

  </map>
