.icon-left {
    margin-right: 10px;
}

.logo-img-lg {
    margin-bottom: 15px;
    max-width: 800px;
    width: 100%;
}

.logo-img-md {
    margin-bottom: 15px;
    max-width: 600px;
    width: 100%;
}

.logo-img-sm {
    margin-bottom: 15px;
    max-width: 200px;
    width: 100%;
}
