<div class="demo-content">
    <h1>Health Catalyst Logo</h1>
    <h6>Last updated Jul 8, 2019</h6>

    <hc-tile>
        <h5>Overview</h5>
        <p>
            The company logo is an important and valued graphic element and must be used consistently and appropriately, even minor variations
            will undermine and compromise the image of the branding. Always use master artwork when reproducing any logo design. It should never
            be recreated under any circumstances. Always ensure you are using the correct artwork for the application. When reproducing any logo
            elements, only the original high resolution or vector graphic files shall be used - logos should not be taken from this document.
        </p>
        <p>
            The Health Catalyst logo should always be surrounded by a minimum area of space. The area of isolation ensures that headlines, text
            or other visual elements do not encroach on the logo. The area is defined by using the height of one of the tears from the Health
            Catalyst symbol.
        </p>
        <br><br>
        <a href="./assets/logos/Health-Catalyst-Logos.eps">
            <img src="./assets/logos/Health-Catalyst-Logos-Preview.png" class="logo-img-lg" />
        </a>
        <br>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/Health-Catalyst-Logos.eps" title="Download logo EPS file">
            <hc-icon fontSet="fa" fontIcon="fa-file-pdf-o" class="icon-left"></hc-icon>
            Download Logo Set EPS File
        </a>
    </hc-tile>

    <hc-tile>
        <h5>Primary Logo Horizontal</h5>
        <a href="./assets/logos/PrimaryLogoHorizontal.zip">
            <img src="./assets/logos/PrimaryLogoHorizontal.svg" class="logo-img-lg" />
        </a>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/PrimaryLogoHorizontal.zip" title="Download logo zip file">
            <hc-icon fontSet="fa" fontIcon="fa-file-archive-o" class="icon-left"></hc-icon>
            Download logo zip file
        </a>
    </hc-tile>

    <hc-tile>
        <h5>Primary Logo Horizontal (white)</h5>
        <p><em>Blue background for illustrative purposes only</em></p>
        <a href="./assets/logos/PrimaryLogoHorizontal(white).zip">
            <img src="./assets/logos/PrimaryLogoHorizontal(white).svg" class="logo-img-lg" />
        </a>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/PrimaryLogoHorizontal(white).zip" title="Download logo zip file">
            <hc-icon fontSet="fa" fontIcon="fa-file-archive-o" class="icon-left"></hc-icon>
            Download logo zip file
        </a>
    </hc-tile>

    <hc-tile>
        <h5>Stacked Logo</h5>
        <a href="./assets/logos/StackedLogo.zip">
            <img src="./assets/logos/StackedLogo.svg" class="logo-img-md" />
        </a>
        <br>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/StackedLogo.zip" title="Download logo zip file">
            <hc-icon fontSet="fa" fontIcon="fa-file-archive-o" class="icon-left"></hc-icon>
            Download logo zip file
        </a>
    </hc-tile>

    <hc-tile>
        <h5>Stacked Logo (white)</h5>
        <p><em>Blue background for illustrative purposes only</em></p>
        <a href="./assets/logos/StackedLogo(white).zip">
            <img src="./assets/logos/StackedLogo(white).svg" class="logo-img-md" />
        </a>
        <br>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/StackedLogo(white).zip" title="Download logo zip file">
            <hc-icon fontSet="fa" fontIcon="fa-file-archive-o" class="icon-left"></hc-icon>
            Download logo zip file
        </a>
    </hc-tile>

    <hc-tile>
        <h5>Tri-Flame</h5>

        <p>The Health Catalyst ‘Flame’ icon represents the spark of change that Catalyst’s services and solutions provides to clients.
        You can also use the 'Flame' on a background color from the brand palette.</p>

        <a href="./assets/logos/Tri-Flame.zip">
            <img src="./assets/logos/Tri-Flame.svg" class="logo-img-sm" />
        </a>
        <br>
        <a hc-button buttonStyle="primary-alt" download href="./assets/logos/Tri-Flame.zip" title="Download logo zip file">
            <hc-icon fontSet="fa" fontIcon="fa-file-archive-o" class="icon-left"></hc-icon>
            Download logo zip file
        </a>
    </hc-tile>
</div>
