<div class="demo-content">
    <h1>Health Catalyst Documentation Style and Usage</h1>
    <h6>Last updated: Data for this page is updated at least weekly.</h6>

    <hc-tile>
        <h5 id="overview">Overview</h5>
        <p>
            Health Catalyst strives to use language and abbreviations consistently across corporate, marketing, education, and product documentation. This guide defines the house style for Health Catalyst.
        </p>
        <p>

            For style decisions not defined in this guide, follow the <a href="https://apastyle.apa.org/"> American Psychological Association Style Guide</a> (for general word style) or the <a href="https://docs.microsoft.com/en-us/style-guide/welcome/">Microsoft Writing Style Guide</a>            (for UX/technical writing).
        </p>
    </hc-tile>

    <hc-tile>
        <h5 id="abbreviations">Guidance for Using Abbreviations and Other Common Terms</h5>
        <hc-usage-list></hc-usage-list>
    </hc-tile>

    <hc-feedback-form></hc-feedback-form>
</div>