@import 'sass/colors';

hc-subnav {
    min-width: 625px;
}

.breadcrumbs {
    display: flex;
    align-items: center;

    a {
        color: $dark-blue;
    }
}

.breadcrumb-arrow {
    font-size: 10px !important;
    height: 10px !important;
    color: $gray-400;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.breadcrumb-text {
    color: $slate-gray-500;
}

.hc-button {
    margin: 0 4px;
}
