<ng-template #content let-close="close" let-dismiss="dismiss" let-data="data">
    <hc-modal>
        <hc-modal-header>{{modalHeader}}</hc-modal-header>
        <hc-modal-body>{{data}}</hc-modal-body>
        <hc-modal-footer>
            <button hc-button buttonStyle="link" (click)="dismiss()"> Cancel </button>
            <button hc-button color="primary" (click)="close()"> OK </button>
        </hc-modal-footer>
    </hc-modal>
</ng-template>

<div class="demo-content">
    <h1>Charts and Data Visualization</h1>
    <h6>Last updated {{lastModified | date:'longDate'}}</h6>

    <hc-tile>
        <h5>Overview</h5>
        <p>Entire bookshelves could be filled with all that has been written about best practices for data visualization.
            The styles presented here don't seek to rewrite any of those books, but instead are primarily aimed at maximizing
            readability and consistency in our charts.  But if you are looking for an excellent, no-nonsense guide for improving
            your visualizations, we highly recommend Scott Berinato's <a href="http://a.co/9uDIcKr" target="blank">Good Charts</a>.</p>
    </hc-tile>

    <hc-tile>
        <div class="header-row">
            <button hc-button title="Patient Readmissions" buttonStyle="link" class="chart-header" [hcPopover]="options" popperPlacement="bottom">
                <h2>Patient Readmissions</h2>
                <hc-icon fontSet="fa" fontIcon="fa-chevron-down" class="header-icon-right"></hc-icon>
            </button>
            <span class="header-right">
                <hc-icon fontSet="fa" fontIcon="fa-share-alt" (click)="chartShare(content,'Share Chart')"></hc-icon>
                <hc-icon fontSet="fa" fontIcon="fa-info-circle" (click)="chartInfo(content, 'Chart Information')"></hc-icon>
            </span>
        </div>
        <hc-popover-content #options>
            <ul class="list-options">
                <li>Patient Readmissions</li>
                <li><button>Inpatient Mortality Rate</button></li>
                <li><button>Average Length of Stay</button></li>
                <li><button>Time to Service</button></li>
            </ul>
        </hc-popover-content>
        <div *ngIf="loading" class="bar-loader">
            <hc-progress-spinner diameter="50" color="green"></hc-progress-spinner>
        </div>
        <div *ngIf="chartData">
            <hc-demo-barchart [data]="chartData"></hc-demo-barchart>
            <div class="swatch-row bar">
                <span class="swatch-label"><span class="swatch green"></span>Cardiology</span>
                <span class="swatch-label"><span class="swatch blue"></span>Orthopedics</span>
                <span class="swatch-label"><span class="swatch purple"></span>Oncology</span>
            </div>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Chart Layout</h5>
        <p>A strong line should be used for the primary axis. The secondary axis should not have a line, but include lighter dotted
            grid lines for each tick.  <code>$chart-font-family</code> and <code>$chart-font-size</code> are used for ticks on each axis.
            The primary axis labels may be truncated using ellipses or rotated for longer names.  The dotted grid lines should be set
            to <code>attr("stroke-dasharray", "2,2");</code>.</p>

        <p>Charts should have a <code>&#x3C;h2&#x3E;</code> header that describes the data being visualized. Secondary information in the
            header should be set to <code>font-weight: 300;</code>. Headers may also be used as dropdowns for users to select from a list of
            visualizations to display.  The right side of chart headers may be used for a row of <code>hc-icon</code> elements for additional
            functionality such as share, info, export, etc.
        </p>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#333333" name="axis-text"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#333333" name="axis-lines"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#cccccc" name="grid-lines"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#a1a1a1" name="chart-header-icons"></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Data Colors</h5>
        <p>To determine what colors should be used together in charts, you should determine what the data is trying to convey. If
            it’s a normal reporting chart for general use, blues and cool colors should be used to keep consistency. If the data in
            a normal report chart needs separation, use a mix of <a routerLink="/styles/color" routerLinkActive="active">HC colors</a>. Grays should be used for either showing a benchmark
            or previous years to contrast the difference of the current year.</p>
    </hc-tile>

    <hc-tile>
        <div class="header-row">
            <h2 class="chart-header">Utilization <span class="light">(over time)</span></h2>
            <span class="header-right">
                <hc-icon fontSet="fa" fontIcon="fa-share-alt" (click)="chartShare(content,'Share Chart')"></hc-icon>
                <hc-icon fontSet="fa" fontIcon="fa-info-circle" (click)="chartInfo(content, 'Chart Information')"></hc-icon>
            </span>
        </div>
        <div *ngIf="loading" class="bar-loader">
            <hc-progress-spinner diameter="50" color="purple"></hc-progress-spinner>
        </div>
        <div *ngIf="lineData">
            <hc-demo-linechart [data]="lineData"></hc-demo-linechart>
            <div class="swatch-row">
                <span class="swatch-label"><span class="swatch purple"></span>Millrock Hospital</span>
                <span class="swatch-label"><span class="swatch gray"></span>Touchstone Benchmark</span>
            </div>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Line Charts</h5>
        <p>Line plots should have a thickeness of 2px. All data points should be indicated with a 6px radius circle.  The circle
            should have the same color as the plot and a 2px white stroke. Tooltips should be included on the circles so that
            users can hover for more detailed information.
        </p>
    </hc-tile>

    <hc-tile>
        <h5>Tooltips</h5>
        <p>All charts should include the ability for a user to hover over a data point and view more information. The <code>charts-tooltip</code>
            css class is included for tooltip formatting. Tooltips should include the data set name as a header, the domain name as a label,
            and then the value in bold text.  The border of the tooltip and the header name should be set to the same color as the data element
            being highlighted. The highlighted element should have its color dimmed using a 5% <code>darken()</code>.
        </p>

        <pre><code>&#x3C;div class=&#x27;chart-tooltip&#x27;&#x3E;
    &#x3C;div class=&#x27;tooltip-header&#x27;&#x3E;Data Set Name:&#x3C;/div&#x3E;
    Domain Label: &#x3C;strong&#x3E;Data Value&#x3C;/strong&#x3E;
&#x3C;/div&#x3E;</code></pre>
    </hc-tile>

</div>
