@import 'scss/colors';
@import 'scss/variables';
@import 'scss/mixins';

.hc-components-container {
    width: 100%;
    min-height: calc(100vh - 53px);
    display: flex;
    background-color: $slate-gray-100;
}

.hc-components-left-column {
    width: 25%;
    display: flex;
    justify-content: center;
    min-width: 275px;
}

.hc-components-nav-container {
    width: 22.5%;
    margin-top: 20px;
    position: fixed;
    min-width: 250px;
    left: 23px;

    hc-tile {
        padding: 10px 15px;
    }
}

.hc-components-nav-list {
    max-height: calc(100vh - 113px);
    overflow-y: auto;
}

.hc-components-nav-divider {
    background-color: $gray-300;
    width: 100%;
    height: 1px;
}

.hc-components-nav-link {
    @include fontSize(14px);
    color: $gray-500;
    padding: 14px 0 14px 30px;
    cursor: pointer;
}

.hc-components-nav-link-active {
    color: $primary-brand;
    font-weight: 700;
}

.hc-components-nav-spacer {
    display: block;
    height: 15px;
}

.hc-components-right-column {
    width: 75%;
    max-width: 1100px;
}

@include media-breakpoint-down(md) {
    .hc-components-left-column {
        display: none;
    }
    .hc-components-right-column {
        width: 100%;
    }
}

.hc-components-chip-wrapper {
    margin-bottom: 10px;
}

.hc-components-chip-content {
    padding: 5px 25px;

    hc-icon {
        margin-right: 2px;
    }
}

.hc-components-chip-link {
    font-size: 13px;
    line-height: 13px;
    margin-top: 7px;
    margin-bottom: 0;
}
