<div class="side-nav">
  <button hc-button color="tertiary" routerLink="/home">Back Home</button>
  <h4>Style</h4>
  <ul>
    <li>
      <a hc-button routerLink="/demo/color">Color</a>
    </li>
  </ul>
  <h4>Components</h4>
  <ul>
    <li>
      <a hc-button routerLink="/demo/button">Button</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/select">Select</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/checkbox">Checkbox</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/icon">Icon</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/drawer">Drawer</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/verticaltabs">Vertical Tabs</a>
    </li>
  </ul>
</div>
