<div class="side-nav">
  <h4>Style</h4>
  <ul>
    <li>
      <a hc-button routerLink="/demo/color">Color</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/table">Table</a>
    </li>
  </ul>
  <h4>Components</h4>
  <ul>
    <li>
      <a hc-button routerLink="/demo/button">Button</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/select">Select</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/checkbox">Checkbox</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/icon">Icon</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/drawer">Drawer</a>
    </li>
    <li>
      <a hc-button routerLink="/demo/tabs">Tabs</a>
    </li>
    <li> 
      <a hc-button routerLink="/demo/navbar">Navbar</a>
    </li>
    <li> 
      <a hc-button routerLink="/demo/popover">Popover</a>
    </li>
  </ul>
</div>
