<div class="hc-tile">
    <h3 class="docs-api-h3">{{exampleTitle}}</h3>
    <hc-tab-set direction="horizontal">
        <hc-tab [tabTitle]="ext" *ngFor="let ext of ['Example', 'HTML', 'Typescript', 'CSS']">

            <div class="example-buffer" *ngIf="ext == 'Example'"></div>

            <ng-container #vc></ng-container>

            <pre class="html hljs xml" *ngIf="ext != 'Example'">
                <hc-doc-viewer [documentUrl]="exampleFileUrl(ext)">
                </hc-doc-viewer>
            </pre>
        </hc-tab>
    </hc-tab-set>
</div>
