@import 'scss/colors';
@import 'scss/functions';
@import 'scss/mixins';
@import '~highlight.js/styles/github.css';

.hc-tile:first-child {
    margin-top: 20px;
}

.example-container {
    padding-top: 20px;
}

.icon-left {
    margin-right: 5px;
}

.header {
    display: flex;
    flex-direction: row;

    h3 {
        flex: 1;
        margin-top: 0;
    }
}

pre {
    padding: 0;
    overflow: hidden;

    code {
        margin-top: -15px;
        margin-bottom: -15px;
    }
}

.example-code-tab h4 {
    margin-top: 10px;
}
