<hc-tile>
    <div class="header">
        <h3 class="docs-api-h3">{{ exampleTitle }}</h3>
        <button hc-button buttonStyle="minimal" size="md" (click)="launchStackBlitz()">
            <hc-icon fontSet="fa" fontIcon="fa-edit" class="icon-left"></hc-icon>
            Edit on StackBlitz
        </button>
    </div>
    <hc-tab-set direction="horizontal">
        <hc-tab tabTitle="Example" (tabClick)="logClick('Example')"><div class="example-container" #exampleContainer></div></hc-tab>
        <hc-tab
            *ngFor="let file of exampleFiles"
            [tabTitle]="getTabTitle(file.name)"
            class="example-code-tab"
            (tabClick)="logClick(getTabTitle(file.name))"
        >
            <h4>{{ example }}-{{ file.name }}</h4>
            <pre> <code [highlight]="file.contents" ></code> </pre>
        </hc-tab>
    </hc-tab-set>
</hc-tile>
