<hc-tile>
    <div class="header">
        <h3 [id]="exampleTitle" hcTileHeader>{{ exampleTitle }}</h3>
        <button hc-button buttonStyle="minimal" size="md" (click)="launchStackBlitz()">
            Edit on StackBlitz
            <hc-icon hcIconSm fontIcon="icon-external-link" class="hc-icon-right"></hc-icon>
        </button>
    </div>
    <hc-tab-set direction="horizontal" #tabSet>
        <hc-tab tabTitle="Example" (tabClick)="logClick('Example')"><div class="example-container" #exampleContainer></div></hc-tab>
        <hc-tab
            *ngFor="let file of exampleFiles"
            [tabTitle]="getTabTitle(file.name)"
            class="example-code-tab"
            (tabClick)="logClick(getTabTitle(file.name))"
        >
            <h4>{{ example }}-{{ file.name }}</h4>
            <pre hcHighlight><code>{{file.contents}}</code></pre>
        </hc-tab>
    </hc-tab-set>
</hc-tile>
