<div class="swatch-container">
    @if (gradient.length === 0) {
    <div class="swatch" [ngClass]="{large: isLarge, 'add-border': needsBorder}" [style.backgroundColor]="hex">
        <ng-content></ng-content>
    </div>
    } @if (gradient.length !== 0) {
    <div class="swatch" [ngClass]="{large: isLarge, 'add-border': needsBorder}" [style.background-image]="gradientString()"></div>
    } @if (name) {
    <div [ngClass]="{name: rgb || cmyk}">{{ name }}</div>
    }
    <div class="hex">{{ hex }}</div>
    @if (rgb) {
    <div class="hex">RGB {{ rgb }}</div>
    } @if (cmyk) {
    <div class="hex">CMYK {{ cmyk }}</div>
    } @if (lab) {
    <div class="hex">LAB {{ lab }}</div>
    } @if (pantone) {
    <div class="hex">Pantone {{ pantone }}</div>
    }
</div>
