<div class="demo-content">
    <h1>Radio Buttons</h1>
    <h6>Last updated {{lastModified | date:'longDate'}}</h6>

    <hc-tab-set direction="horizontal">
    <hc-tab tabTitle="Overview">

    <hc-tile>
        <h5>About</h5>
        <p>Radio buttons allow the user to choose only one of a predefined set of
        mutually exclusive options.</p>
    </hc-tile>

    <hc-tile>
        <h5>Examples</h5>
        <h4>Standard Radio Buttons</h4>
        <form>
            <hc-radio-group>
                <hc-radio-button value="1" [checked]="true">The Office</hc-radio-button>
                <hc-radio-button value="2">Parks and Rec</hc-radio-button>
                <hc-radio-button value="3">Arrested Development</hc-radio-button>
            </hc-radio-group>
        </form>

        <h4>Disabled Radio Buttons</h4>
        <form>
            <hc-radio-group [disabled]="true">
                <hc-radio-button>30 Rock</hc-radio-button>
                <hc-radio-button>Seinfeld</hc-radio-button>
            </hc-radio-group>
        </form>

        <h4>Radio Buttons using Form Controls</h4>
        <hc-radio-group [(ngModel)]="favoriteShow">
            <hc-radio-button *ngFor="let show of shows" [value]="show">{{show}}</hc-radio-button>
        </hc-radio-group>
        <p>Current selection: {{favoriteShow ? favoriteShow : 'none'}}</p>
        <button hc-button title="Primary-Alt Button" color="primary-alt" (click)="reset()">Clear Selection</button>
        <br>
    </hc-tile>

    <hc-tile>
        <h5>Radio Button Usage</h5>
        <p>Radio buttons are used in groups and always include labels.</p>
        <p>Radio buttons can be used with ngModel in reactive or template-driven forms.</p>
        <p>When enabled, only one radio button in the group should be set to checked.</p>
        <p>A default button can be set to checked when the form is initialized (either manually or via ngModel).</p>
    </hc-tile>

    </hc-tab>
    <hc-tab tabTitle="Documentation">
        <hc-doc-viewer documentUrl="assets/docs/cashmere-radio-button.html"></hc-doc-viewer>
    </hc-tab>
    </hc-tab-set>
</div>
