<div class="hc-components-container">
    <hc-subnav class="responsive-subnav" fixedTop="true">
        <div class="subnav-container">
            <span class="subnav-label">Components: </span>
            <span class="subnav-select">
                <hc-select [(ngModel)]="thisPage" (ngModelChange)="selectUpdate($event)">
                    <option *ngFor="let option of docItems" [value]="option.id" [selected]="option.id === thisPage">{{
                        option.name
                    }}</option>
                </hc-select>
            </span>
        </div>
    </hc-subnav>

    <div class="hc-components-left-column">
        <div class="hc-components-nav-container">
            <hc-tile>
                <div class="hc-components-nav-list">
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'forms'">
                        <hc-accordion-toolbar>Form Controls</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'forms'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'nav'">
                        <hc-accordion-toolbar>Navigation</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'nav'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'layout'">
                        <hc-accordion-toolbar>Layout</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'layout'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'buttons'">
                        <hc-accordion-toolbar>Buttons & Indicators</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'buttons'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'popups'">
                        <hc-accordion-toolbar>Popups & Notifications</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'popups'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'table'">
                        <hc-accordion-toolbar>Data Table</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'table'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                    <div class="hc-components-nav-divider"></div>
                    <hc-accordion triggerAlign="right" [open]="thisCategory == 'pipes'">
                        <hc-accordion-toolbar>Pipes</hc-accordion-toolbar>
                        <ng-container *ngFor="let option of docItems">
                            <div *ngIf="option.category == 'pipes'" class="hc-components-nav-link" [ngClass]="{'hc-components-nav-link-active': option.id == thisPage }" (click)="navUpdate(option.id)">{{ option.name }}</div>
                        </ng-container>
                        <div class="hc-components-nav-spacer"></div>
                    </hc-accordion>
                </div>
            </hc-tile>
        </div>
    </div>
    <div class="hc-components-right-column">
        <hc-tab-set class="full-height">
            <hc-tab *ngFor="let docItem of docItems" [tabTitle]="docItem.name" [routerLink]="docItem.id"></hc-tab>
        </hc-tab-set>
    </div>
</div>
