<hc-navbar appIcon="./assets/CashmereAppLogo.svg" brandIcon="./assets/TriFlame.svg" homeUri="/home" fixedTop="true">
    <hc-navbar-link uri="/foundations" linkText="Foundations"></hc-navbar-link>
    <hc-navbar-link uri="/content" linkText="Content"></hc-navbar-link>
    <hc-navbar-link uri="/accessibility" linkText="Accessibility"></hc-navbar-link>

    <hc-navbar-dropdown [active]="webActive" linkText="Web Apps">
        <div hcMenu>
            <a hcMenuItem routerLink="web/components">
                <hc-icon hcMenuIcon fontSet="fa-solid" fontIcon="fa-code"></hc-icon>
                <span hcMenuText>Angular Components</span>
            </a>
            <a hcMenuItem href="https://healthcatalyst.github.io/react-cashmere/" target="_blank">
                <hc-icon hcMenuIcon fontSet="fa-solid" fontIcon="fa-code"></hc-icon>
                <span hcMenuText>React Components</span>
            </a>
            <a hcMenuItem routerLink="web/styles">
                <hc-icon hcMenuIcon fontSet="fa-solid" fontIcon="fa-paintbrush" hcIconSm></hc-icon>
                <span hcMenuText>Additional Styles</span>
            </a>
            <a hcMenuItem routerLink="web/mobile">
                <hc-icon hcMenuIcon fontSet="fa-brands" fontIcon="fa-chrome"></hc-icon>
                <span hcMenuText>Mobile Development</span>
            </a>
            <a hcMenuItem routerLink="web/guides">
                <hc-icon hcMenuIcon fontSet="fa-solid" fontIcon="fa-graduation-cap"></hc-icon>
                <span hcMenuText>Developer Guides</span>
            </a>
        </div>
    </hc-navbar-dropdown>
    <hc-navbar-link uri="/analytics" linkText="Analytics"></hc-navbar-link>
    <hc-icon class="hc-navbar-icon" fontSet="fa-solid" fontIcon="fa-magnifying-glass" [hcPop]="search" (click)="setInputFocus()" (popoverClosed)="logSearch()"></hc-icon>
    <a class="hc-navbar-icon" title="View on GitHub" href="https://github.com/HealthCatalyst/Fabric.Cashmere" target="blank">
        <hc-icon class="hc-navbar-external-link" fontSet="fa-brands" fontIcon="fa-github"></hc-icon>
    </a>
    <hc-navbar-mobile-menu appSwitcher="false">
        <hc-list>
            <hc-list-item routerLink="/home" routerLinkActive="active-link">
                <span hcListLine>Home</span>
            </hc-list-item>
            <hc-list-item routerLink="/foundations" routerLinkActive="active-link">
                <span hcListLine>Foundations</span>
            </hc-list-item>
            <hc-list-item routerLink="/content" routerLinkActive="active-link">
                <span hcListLine>Content</span>
            </hc-list-item>
            <hc-list-item routerLink="/accessibility" routerLinkActive="active-link">
                <span hcListLine>Accessibility</span>
            </hc-list-item>
            <hc-list-item routerLink="/analytics" routerLinkActive="active-link">
                <span hcListLine>Analytics</span>
            </hc-list-item>
        </hc-list>
        <hr />
        <hc-list>
            <hc-list-item routerLink="/web/components" routerLinkActive="active-link">
                <span hcListLine>Components</span>
            </hc-list-item>
            <hc-list-item routerLink="/web/styles" routerLinkActive="active-link">
                <span hcListLine>Additional Styles</span>
            </hc-list-item>
            <hc-list-item routerLink="web/mobile" routerLinkActive="active-link">
                <span hcListLine>Mobile Development</span>
            </hc-list-item>
            <hc-list-item routerLink="/web/guides" routerLinkActive="active-link">
                <span hcListLine>Developer Guides</span>
            </hc-list-item>
        </hc-list>
        <hr />
        <hc-list>
            <hc-list-item routerLink="/results" routerLinkActive="active-link">
                <span hcListLine>Search</span>
            </hc-list-item>
            <a href="https://github.com/HealthCatalyst/Fabric.Cashmere">
                <hc-list-item>
                    <span hcListLine>View on GitHub</span>
                </hc-list-item>
            </a>
        </hc-list>
    </hc-navbar-mobile-menu>
</hc-navbar>
<hc-pop #search [autoCloseOnContentClick]="false" [showArrow]="false" horizontalAlign="end" verticalAlign="below"
    class="hc-navbar-search-popover">
    <div hcMenu class="hc-search-menu">
        <hc-form-field class="hc-navbar-search-wrapper">
            <hc-icon hcPrefix fontSet="fa-solid" fontIcon="fa-magnifying-glass" class="searchIcon"></hc-icon>
            <input #searchInput hcInput [formControl]="navSearchBar" autocomplete="off"
                placeholder="Search the Cashmere docs" class="searchBar" id='hc-nav-search-input' />
        </hc-form-field>
        <hc-list class="hc-navbar-search-results">
            <hc-list-item *ngFor="let item of searchResults" class="hc-navbar-search-results-items"
                [routerLink]="'/' + item.link" [queryParams]="{section: item.section, selected: item.displayName}" (click)="search.toggle()">
                    <hc-icon fontSet="fa-solid" [fontIcon]="searchIcons[item.category].icon" hcListIcon class="results-icon"></hc-icon>
                    <div hcListLine class="result-title hc-text-ellipsis">{{item.title}}</div>
                    <div hcListLine class="result-sub-text">{{item.link}}</div>
            </hc-list-item>
        </hc-list>
        <div *ngIf="showAll" routerLink="/results" [queryParams]="{search: searchValue}" (click)="search.toggle()" class="hc-navbar-search-show-all">
            Show all search results
        </div>
    </div>
</hc-pop>
<router-outlet></router-outlet>
