<div class="demo-content">
    <h1>Health Catalyst Brand Colors</h1>
    <h6>Last updated {{lastModified | date:'longDate'}}</h6>

    <hc-tile>
        <h5>Overview</h5>
        <p>The colors included on this page represent our brand in the general sense.
        For colors to be used in software applications, please refer to <a routerLink="/styles/color" routerLinkActive="active">UI Colors</a>.
        That color set shares the same foundations but is specifically tailored towards values that improve
        usability for buttons, links and other user interface elements.</p>
    </hc-tile>

    <hc-tile>
        <h5>Brand Palette</h5>
        <p>These are the foundational colors of the brand.</p>
        <div class="palette-row primary">
            <hc-swatch-demo-component hex="#00aeff" name="Primary Blue" rgb="0, 174, 255" cmyk="100, 32, 0, 0" [isLarge]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#006d9a" name="Secondary Blue" rgb="0, 109, 154" cmyk="60, 18, 0, 40" [isLarge]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#6d6e70" name="HC Gray" rgb="109, 110, 112" cmyk="3, 2, 0, 56" [isLarge]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#f8961d" name="HC Orange" rgb="248, 150, 29" cmyk="0, 38, 86, 3" [isLarge]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#333333" name="HC Text" rgb="51, 51, 51" cmyk="0, 0, 0, 80" [isLarge]="true"></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Corporate Website Palette</h5>
        <p>These colors are used within <a href="http://healthcatalyst.com">healthcatalyst.com</a>. They are intended to represent the various content types used on the website, specifically within the Knowledge Center.</p>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#ffffff" name="White" rgb="255, 255, 255" cmyk="0, 0, 0, 0" [needsBorder]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#dc775b" name="Awards Red" rgb="220, 119, 91" cmyk="0, 46, 59, 14"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#4ebe7e" name="Video Green" rgb="78, 190, 126" cmyk="59, 0, 34, 25"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#74d0d6" name="FAQ Blue" rgb="116, 208, 214" cmyk="46, 3, 0, 16"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#637a91" name="Presentation Blue" rgb="99, 122, 145" cmyk="32, 16, 0, 43"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#e2963b" name="Demo Orange" rgb="226, 150, 59" cmyk="0, 34, 74, 11"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#4b62af" name="eBook Purple" rgb="75, 98, 175" cmyk="57, 44, 0, 31"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#74d6ae" name="Insights Green" rgb="116, 214, 174" cmyk="46, 0, 19, 16"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#4b8faf" name="Success Blue" rgb="75, 143, 175" cmyk="57, 18, 0, 31"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#d67474" name="Exec Reports Red" rgb="214, 116, 116" cmyk="0, 46, 53, 16"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#74b6d6" name="Webinar Blue" rgb="116, 182, 214" cmyk="46, 15, 0, 16"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="" name=""></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Presentation Palette</h5>
        <p>This color set may be used within company presentation decks.</p>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#ffffff" name="White" rgb="255, 255, 255" cmyk="0, 0, 0, 0" [needsBorder]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#00aeff" name="Primary Blue" rgb="0, 174, 255" cmyk="100, 32, 0, 0"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#006d9a" name="Secondary Blue" rgb="0, 109, 154" cmyk="60, 18, 0, 40"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#333333" name="HC Text" rgb="51, 51, 51" cmyk="0, 0, 0, 80"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#6d6e70" name="HC Gray" rgb="109, 110, 112" cmyk="3, 2, 0, 56"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#f8961d" name="HC Orange" rgb="248, 150, 29" cmyk="0, 38, 86, 3"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#d67474" name="Exec Report Red" rgb="214, 116, 116" cmyk="0, 46, 53, 16"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#4ebe7e" name="Video Green" rgb="78, 190, 126" cmyk="59, 0, 34, 25"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#79629e" name="HC Purple" rgb="121, 98, 158" cmyk="23, 38, 0, 38"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#cd4b90" name="HC Magenta" rgb="205, 75, 144" cmyk="0, 63, 30, 20"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="" name=""></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="" name=""></hc-swatch-demo-component>
        </div>
    </hc-tile>

</div>
