<div class="demo-content">
    <h1>{{platform}} Template</h1>
    <div *ngIf="versionList.length === 0" class="template-loader">
        <hc-progress-spinner diameter="50" color="blue"></hc-progress-spinner>
    </div>
    <ng-container *ngIf="versionList.length > 0">
        <h6>Last updated {{versionList[0].releasedate}}</h6>

        <hc-tile>
            <h5 id="latest-version">Current Version</h5>
            <h3 class="template-version-header">
                Version: {{versionList[0].version}}
            </h3>
            <div class="template-version-details">
                <strong>Release date:</strong> {{versionList[0].releasedate}}<br>
                <strong>Requirements:</strong> {{versionList[0].requirements}}<br>
            </div>
            <button hc-button buttonStyle="primary-alt" size="lg" class="template-download-btn" title="Download lastest template" (click)="templateClick(versionList[0].download, platform)">
                <hc-icon fontSet="fa-solid" fontIcon="fa-file-zipper"></hc-icon>
                Download {{platform}} Template
            </button>
            <article class="template-version-notes">
                <h4>Release notes:</h4>
                <ul>
                    <li *ngFor="let line of versionList[0].notes">{{line}}</li>
                </ul>
            </article>
        </hc-tile>

        <hc-tile *ngIf="versionList.length > 1">
            <h5 id="previous-versions" class="template-version-previous-header">Previous Versions</h5>
            <p>
                <em class="template-version-disclaimer">The following versions are no longer supported and are supplied only for history and compatibility.</em>
            </p>
            <hr class="template-version-hr">
            <ng-container *ngFor="let version of versionList; let i=index">
                <div *ngIf="i > 0">
                    <h3 class="template-version-header-previous">
                        <a [href]="version.download">Version: {{version.version}}</a>
                    </h3>
                    <div class="template-version-details">
                        <strong>Release date:</strong> {{version.releasedate}}<br>
                        <strong>Requirements:</strong> {{version.requirements}}<br>
                    </div>
                    <article class="template-version-notes">
                        <h4>Release notes:</h4>
                        <ul>
                            <li *ngFor="let line of version.notes">{{line}}</li>
                        </ul>
                    </article>
                    <hr *ngIf="i < versionList.length - 1" class="template-version-hr">
                </div>
            </ng-container>
        </hc-tile>
    </ng-container>
</div>
