<div class="demo-content">
    <h1>{{ platform }} Template</h1>
    @if (versionList.length === 0) {
    <div class="template-loader">
        <hc-progress-spinner diameter="50" color="blue"></hc-progress-spinner>
    </div>
    } @if (versionList.length > 0) {
    <h6>Last updated {{ versionList[0].releasedate }}</h6>
    <hc-tile>
        <h5 id="latest-version">Current Version</h5>
        <h3 class="template-version-header">Version: {{ versionList[0].version }}</h3>
        <div class="template-version-details">
            <strong>Release date:</strong>
            {{ versionList[0].releasedate }}
            <br />
            <strong>Requirements:</strong>
            {{ versionList[0].requirements }}
            <br />
        </div>
        <button
            hc-button
            buttonStyle="primary-alt"
            size="lg"
            class="template-download-btn"
            title="Download lastest template"
            (click)="templateClick(versionList[0].download, platform)"
        >
            <hc-icon fontIcon="hc-icon-left icon-download" hcIconSm></hc-icon>
            Download {{ platform }} Template
        </button>
        <article class="template-version-notes">
            <h4>Release notes:</h4>
            <ul>
                @for (line of versionList[0].notes; track line) {
                <li>{{ line }}</li>
                }
            </ul>
        </article>
    </hc-tile>
    @if (versionList.length > 1) {
    <hc-tile>
        <h5 id="previous-versions" class="template-version-previous-header">Previous Versions</h5>
        <p>
            <em class="template-version-disclaimer">
                The following versions are no longer supported and are supplied only for history and compatibility.
            </em>
        </p>
        <hr class="template-version-hr" />
        @for (version of versionList; track version; let i = $index) { @if (i > 0) {
        <div>
            <h3 class="template-version-header-previous">
                <a [href]="version.download">Version: {{ version.version }}</a>
            </h3>
            <div class="template-version-details">
                <strong>Release date:</strong>
                {{ version.releasedate }}
                <br />
                <strong>Requirements:</strong>
                {{ version.requirements }}
                <br />
            </div>
            <article class="template-version-notes">
                <h4>Release notes:</h4>
                <ul>
                    @for (line of version.notes; track line) {
                    <li>{{ line }}</li>
                    }
                </ul>
            </article>
            @if (i < versionList.length - 1) {
            <hr class="template-version-hr" />
            }
        </div>
        } }
    </hc-tile>
    } }
</div>
