$fa-font-path: '../webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$notosans-fontface-path: "node_modules/notosans-fontface/fonts";
@import "~notosans-fontface/scss/notosans-fontface-allweight";

$hc-icons-font-path: 'node_modules/@healthcatalyst/cashmere/hcicons';
@import '@healthcatalyst/cashmere/hcicons2/hcicons2';

@import '@healthcatalyst/cashmere/scss/cashmere';

// global styles for stackblitz examples
.demo-button {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

hc-example-viewer .hc-tab-content-horizontal {
    padding: 3px;
}

.pipe-output {
    font-weight: 600px;
    font-size: 22px;
}
