$fa-font-path: 'node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

$FontPathOpenSans: 'node_modules/npm-font-open-sans/fonts';
@import '~npm-font-open-sans/open-sans';

$hc-icons-font-path: 'node_modules/@healthcatalyst/cashmere/hcicons';
@import '~@healthcatalyst/cashmere/hcicons/hcicons';

@import '~@healthcatalyst/cashmere/scss/cashmere';
