@import "colors";

.swatch-container {
    text-align: center;
    width: 100%;

    .hex {
        font-size: 13px;
        color: $gray-400;
    }

    .swatch {
        height: 50px;
        border-radius: 5px;
        margin-bottom: 5px;

        &.add-border {
            border: 1px solid $gray-200;
        }

        &.large {
            height: 100px;
        }
    }
}
