@import 'colors';
@import 'functions';

.picklist-config {
    width: 100%;
    margin-top: 24px;
    padding: 24px 55% 24px 24px;
    background-color: $gray-200;
    border: 1px solid shade($gray-200, 5%);
}
