@import 'sass/colors';

.progress-example {
    display: flex;

    & > div {
        padding-right: 20px;
    }

    label {
        font-weight: 600;
        margin: 20px 0 5px;
        color: $gray-600;
    }

    hc-checkbox {
        display: block;
        margin: 20px 0 5px;
    }
}

.col-2 {
    flex: 1 0 auto;
}

.progress-component-container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 15px;
    border: 1px solid $gray-200;

    &.dark-bg {
        background-color: $charcoal-blue;
    }
}

// default styles like this, for ALL basic form controls should probably exists in a global scss file
input {
    height: 35px;
    border: 1.5px solid $gray-300;
    padding-left: 10px;
}
