@import 'scss/charts';
@import 'scss/colors';
@import 'scss/mixins';

.d3-line-chart {
    width: 100%;
    height: 400px;
}

.d3-line-chart .axis line {
    stroke: $grid-lines;
}

.d3-line-chart .tick:first-of-type line {
    stroke: $axis-lines;
}

.d3-line-chart .axis text {
    fill: $axis-text;
    font-family: $chart-font-family;
    font-size: $chart-font-size;
}

.tip-purple {
    border: 1px solid $purple;
    .tooltip-header {
        color: $purple;
    }
}

.tip-gray {
    border: 1px solid $gray-500;
    .tooltip-header {
        color: $gray-500;
    }
}

.d3-line-chart .primary-line {
    stroke: $purple;
}
.d3-line-chart .primary-scatter circle {
    fill: $purple;
    stroke: $white;
    stroke-width: 2px;
    &:hover {
        fill: darken($purple, 15%);
    }
}
.d3-line-chart .secondary-line {
    stroke: $gray-300;
}
.d3-line-chart .secondary-scatter circle {
    fill: $gray-300;
    stroke: $white;
    stroke-width: 2px;
    &:hover {
        fill: darken($gray-300, 15%);
    }
}
