@import 'scss/colors';
@import 'scss/functions';
@import 'scss/mixins.scss';

.hc-doc-viewer {
    display: block;
}

.hc-tile:first-of-type {
    margin-top: 20px;
}

.docs-api-h3 {
    @include fontSize(15px);
    text-transform: uppercase;
    color: $dark-blue;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.docs-api-h4 {
    @include fontSize(22px);
    font-weight: 600;
}

.docs-api-h5 {
    text-transform: unset;
    color: $text;
    font-weight: 600;
    @include fontSize(20px);
    margin: 30px 0 5px 0;
}

.docs-api-class-extends-clauses {
    @include fontSize(20px);
    font-weight: 300;
}

.docs-api-directive-selectors {
    margin: 20px 0 20px 0;
}

.docs-api-properties-table {
    @include fontSize(13px);
    margin-bottom: 40px;

    p {
        @include fontSize(13px);
    }
}

.docs-api-properties-header-row th {
    padding-bottom: 8px;
}

.docs-api-properties-name-cell {
    font-family: Consolas, Menlo, 'Ubuntu Mono', monospace;

    code {
        @include fontSize(13px);
        background-color: unset;
        border-radius: unset;
        padding: unset;
        font-weight: unset;
        line-height: unset;
    }
}

.directive-spacer {
    display: block;
    height: 40px;
}

.docs-api-method-table {
    th {
        color: $magneta;
        font-family: Consolas, Menlo, 'Ubuntu Mono', monospace;
        padding-top: 20px;
    }

    td {
        padding-top: 5px;
    }

    p {
        @include fontSize(13px);
    }

    code {
        @include fontSize(13px);
        color: $text;
        background-color: unset;
        border-radius: unset;
        padding: unset;
        font-weight: unset;
        line-height: unset;
    }
}
