$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../lib/src/colors';
@import '../lib/src/tables.scss';

html,
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: $white;
    color: $text;
}

body {
    // navbar spacing
    padding-top: 53px;
}
