$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
$FontPathOpenSans: "../node_modules/npm-font-open-sans/fonts" !default;

html,
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 1540px;
    background-color: #021D30;
    margin: 0 auto;
    height: 100%;
}

.demo-page{
    padding: 20px;
    max-height: 94%;
    overflow-y: auto;
}
