$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

$notosans-fontface-path: "../node_modules/notosans-fontface/fonts";
@import "../node_modules/notosans-fontface/scss/notosans-fontface-allweight";

$hc-icons-font-path: "../dist/cashmere/hcicons";
@import "hcicons/hcicons";

@import "scss/cashmere";

html,
body {
    margin: 0;
    background-color: $white;
    color: $text;
}

body {
    // navbar spacing
    padding-top: 53px;
}

.demo-content {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;

    ul {
        margin: 12px 0;
        list-style: disc inside;
    }

    :not(article) > ol {
        margin-left: 18px;
    }

    .tab-bar-horizontal {
        margin-bottom: 25px;
    }
}

.npm-package-code {
    margin-bottom: 15px;

    code {
        background-color: transparent;
    }
}

.popoverContainer {
    li {
        margin: 0 10px !important;
    }
}

.full-height > .hc-vertical-tab-container {
    min-height: calc(100vh - 53px);
}

.full-height > .hc-vertical-tab-container > .hc-tab-bar-vertical {
    display: none;
}

.full-height > .hc-vertical-tab-container > .hc-tab-content-vertical {
    width: 100% !important;
}

.hc-components-nav-container {
    .hc-accordion-content {
        padding: 0 !important;
    }

    .hc-accordion-toolbar {
        color: $dark-blue;
        font-weight: 600;
        padding: 0 10px;
    }
}

.hc-components-container {
    overflow: hidden;
    overflow-y: scroll;
    height: 0px;
}

.responsive-subnav {
    margin-bottom: 0 !important;
    display: none !important;
    padding: 0 !important;
}

.subnav-label {
    @include fontSize(16px);
}

.subnav-select {
    width: 90%;
    max-width: 450px;
    margin-left: 20px;
}

.subnav-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
}

@include media-breakpoint-down(md) {
    .demo-content {
        padding: 0;
    }
    .responsive-subnav {
        display: flex !important;
    }
    .hc-components-right-column {
        margin-top: 52px;
    }
    hc-tile {
        overflow-x: auto;
    }
}

@include media-breakpoint-down(sm) {
    .subnav-label {
        display: none;
    }
    .subnav-select {
        width: 100%;
        margin-left: 0;
    }
    .persona-header {
        flex-wrap: wrap;
        div {
            width: 100%;
            margin-left: 0 !important;
        }
        img {
            margin: 0 auto 15px auto;
        }
    }
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 50px 0 0;
}

h4 {
    margin: 36px 0 12px;
}

h5 {
    @include fontSize(15px);
    text-transform: uppercase;
    color: $dark-blue;
    font-weight: 600;
    margin-bottom: 20px;
}

h6 {
    @include fontSize(14px);
    font-weight: 300;
    margin: 3px 0 35px 0;
}

p {
    margin: 8px 0 8px;
}

em {
    margin-top: 12px;
}

hr {
    border: none;
    height: 1px;
    background-color: $gray-200;
    margin: 40px 0;
}

ul {
    @include fontSize(16px);
    line-height: 1.5;
}

ol {
    @include fontSize(16px);
    line-height: 1.5;
}

.sample-component {
    margin: 20px 0;
}

table {
    width: 100%;
    @include fontSize(13px);

    thead > th {
        background-color: $charcoal-blue;
        color: $white;
        padding: 3px 15px;
    }

    th {
        font-weight: 600;
    }

    tbody > tr > {
        td,
        th {
            line-height: 1.3;
            padding: 1em 3em 1em 0;
            vertical-align: middle;
        }
    }

    //Work with this

    @media only screen and (max-width: 600px) {
        .docs-api-properties-table, 
        .docs-api-properties-row,
        .docs-api-properties-th,
        .docs-api-properties-name-cell, 
        .docs-api-property-description{
            padding-top: 0;
            padding-bottom: 5px;
            display: block;
        }
        
        tbody > tr:not(:last-child) > {
            .docs-api-properties-th:nth-child(odd),
            .docs-api-properties-name-cell {
                padding-top: 5px;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    tbody > tr:not(:last-child) > {
        td,
        th {
            border-bottom: 1px solid $gray-300;
        }
    }

    .type-label {
        color: $gray-500;
        display: block;
        @include fontSize(11px);
        line-height: 1.5;
    }

    em {
        @include fontSize(13px);
    }

    ul {
        list-style: none !important;
    }

    code {
        font-size: inherit;
    }
}

.line-number {
    float: left;
    text-align: right;
    > span {
        display: block;
        padding: 0 0.5em 0 1em;
        border-right: 1px solid;
        margin-right: 5px;
        color: rgba($gray-600, 0.5);
        @include fontSize(14px);
        font-family: Consolas, Menlo, "Ubuntu Mono", monospace;
    }
}

.overflow-visible > .hc-horizontal-tab-container > .hc-tab-content-horizontal {
    overflow: visible !important;
}

// global demo styles
.demo-button {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

hc-example-viewer .hc-tab-content-horizontal {
    padding: 3px;
}

.pipe-output {
    font-weight: 600px;
    font-size: 22px;
}

// global search input field
.hc-search-menu {
    .hc-form-field-flex {
        border-color: transparent;
        padding: 0 15px;
        border-radius: 0 0 4px 4px;
    }

    .hc-form-field-wrapper {
        padding-bottom: 0;
    }
}

.hc-navbar-right-container {
    margin-right: 15px;
}

.hc-search-results-items > .hc-list-content {
    padding: 0;
}

.hc-search-drawer-item > .hc-drawer-item {
    cursor: inherit;

    &:hover {
        background-color: $charcoal-blue;
    }
}

hc-markdown-demo img {
    max-width: 100%;
    height: auto;
}

.persona-header {
    display: flex;
    align-items: center;

    img {
        width: 175px;
        height: 175px;
    }

    div {
        margin-left: 35px;
    }

    h1 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }
}

.persona-viewer-container {
    h3 {
        margin-top: 0 !important;
    }

    ul {
        margin: 0;
    }
}
