$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

html,
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 1540px;
    margin: 0 auto;
    height: 100%;
}

.demo-page {
    padding: 20px;
    max-height: 94%;
    overflow-y: auto;
}
