@import "scss/colors";
@import "scss/mixins";

header {
    max-width: 820px;
    margin: 50px auto 60px auto;
    display: flex;
}

button {
    width: 180px;
}

a,
a:visited {
    color: $primary-brand;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
}

p {
    line-height: 1.4;
}

.headerLeft {
    display: flex;
    padding-left: 40px;
    padding-right: 60px;
}

.headerLeft img {
    height: 190px;
    width: 175px;
}

.headerRight {
    display: flex;
    width: 100%;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;

    .hc-form-field {
        .searchIcon {
            padding-left: 15px;
        }

        .searchBar {
            padding-left: 25px;
            font-size: 18px;
            height: 40px;
        }
    }
}

.headerRight img {
    height: 100px;
    width: 304px;
    margin: 7px 0 15px;
}

@include media-breakpoint-down(md) {
    header {
        margin: 30px auto 40px auto;
        display: block;
        text-align: center;
    }

    .headerLeft {
        padding: 0;
    }

    .headerLeft img {
        margin: auto;
        padding-top: 20px;
    }

    .headerRight {
        align-items: center;
        padding: 20px;

        .hc-form-field {
            .searchIcon {
                padding-left: 8px;
            }

            .searchBar {
                padding-left: 10px;
            }
        }
    }

    .headerRight img {
        width: 100%;
        margin-left: 13px;
    }

    h2 {
        margin: 10px 0 15px 0;
    }
}

main {
    background-color: #fafafa;
    width: 100%;
    border-top-width: 2px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    align-content: center;
    padding-top: 60px;
    display: block;
}

section {
    max-width: 1024px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    padding-bottom: 90px;
}

section button {
    margin: auto;
}

.sectionCenter {
    display: flex;
    align-items: center;
    flex: 1;
}

.sectionImg {
    width: 100%;
    max-width: 400px;
}
.sectionImg img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.sectionOneText {
    padding-left: 100px;
}
.sectionOneTextWrapper {
    max-height: 370px;
}

.sectionTwo {
    padding-bottom: 70px;
}
.sectionTwoText {
    padding-right: 15%;
    margin-bottom: 40px;
}

.sectionThreeText {
    padding-left: 15%;
}
.sectionThreeTextWrapper {
    max-height: 472px;
}

.getStarted {
    margin: auto;
    display: table;
}

@include media-breakpoint-down(md) {
    main {
        text-align: center;
    }

    section {
        margin: 0;
        display: block;
        text-align: center;
        padding: 0 0 50px 0;
    }

    section span {
        width: 100%;
    }

    .sectionCenter {
        max-height: none;
        padding-bottom: 20px;
        display: inline;
    }

    .sectionOneImg img,
    .sectionTwoImg img,
    .sectionThreeImg img {
        display: inline-block;
        width: 70% !important;
    }

    .sectionTwoImg img {
        padding-top: 30px;
    }
    .sectionThreeImg img {
        padding-bottom: 30px;
    }

    .sectionOneText {
        padding: 0;
        margin: 40px 40px 0 40px;
    }

    .sectionTwoText {
        padding: 0;
        margin: 0 40px;
    }

    .sectionThreeText {
        padding: 0;
        margin: 40px 40px 0 40px;
    }

    .sectionTwo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 0;
    }
}
