@import 'scss/colors';
@import 'scss/mixins';

header {
    max-width: 720px;
    margin: 50px auto 60px auto;
    display: flex;
}

button {
    width: 180px;
}

a,
a:visited {
    color: $primary-brand;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
}

p {
    line-height: 1.4;
}

.headerLeft {
    display: flex;
    padding-left: 40px;
    padding-right: 80px;
}

.headerLeft img {
    height: 190px;
    width: 175px;
}

.headerCopy {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 25px;
}

.headerRight {
    display: flex;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
}

.headerRight img {
    height: 55px;
    width: 372px;
}

@include media-breakpoint-down(md) {
    header {
        margin: 30px auto 40px auto;
        display: block;
        text-align: center;
    }

    .headerLeft {
        padding: 0;
    }

    .headerLeft img {
        margin: auto;
        padding-top: 20px;
    }

    .headerRight {
        align-items: center;
        padding: 0;
        margin: 20px;
    }

    .headerRight img {
        width: 100%;
    }

    .headerCopy {
        width: 100%;
    }

    h2 {
        margin: 10px 0 15px 0;
    }
}

main {
    background-color: #fafafa;
    width: 100%;
    border-top-width: 2px;
    border-top-color: #eaeaea;
    border-top-style: solid;
    align-content: center;
    padding-top: 60px;
    display: block;
}

section {
    max-width: 1024px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    padding-bottom: 80px;
}

section button {
    margin: auto;
}

.sectionCenter {
    display: flex;
    align-items: center;
    max-height: 320px;
}

.sectionOneText {
    padding-left: 100px;
}
.sectionOneTextWrapper {
    max-height: 370px;
}
.sectionOneImg {
    width: 100%;
}
.sectionOneImg img {
    max-width: 432px;
    width: 100%;
    height: auto;
}

.sectionTwo {
    padding-bottom: 30px;
}
.sectionTwoText {
    padding-right: 20%;
    margin-bottom: 40px;
}
.sectionTwoImg {
    width: 100%;
}
.sectionTwoImg img {
    max-width: 293px;
    width: 100%;
    height: auto;
}

.sectionThreeText {
    padding-left: 15%;
}
.sectionThreeTextWrapper {
    max-height: 472px;
}
.sectionThreeImg {
    width: 100%;
}
.sectionThreeImg img {
    max-width: 261px;
    width: 100%;
    height: auto;
}

.getStarted {
    margin: auto;
    display: table;
}

@include media-breakpoint-down(md) {
    main {
        text-align: center;
    }

    section {
        margin: 0;
        display: block;
        text-align: center;
        padding: 0 0 50px 0;
    }

    section span {
        width: 100%;
    }

    .sectionCenter {
        max-height: none;
        padding-bottom: 20px;
        display: inline;
    }

    .sectionOneImg img,
    .sectionTwoImg img,
    .sectionThreeImg img {
        display: inline-block;
        width: 70% !important;
    }

    .sectionTwoImg img {
        padding-top: 30px;
    }
    .sectionThreeImg img {
        padding-bottom: 30px;
    }

    .sectionOneText {
        padding: 0;
        margin: 40px 40px 0 40px;
    }

    .sectionTwoText,
    .sectionThreeText {
        padding: 0;
        margin: 0 40px 20px 40px;
    }
}
