<div class="demo-content">
    <h1>WCF Insurance Colors</h1>
    <h6>Last updated {{lastModified | date:'longDate'}}</h6>

    <hc-tile>
        <h5>Overview</h5>
        <p>Following are the suggested colors for use within your application. By adhering to the color guidelines, we can help our products
            feel like part of a cohesive family.</p>
        <p>It's recommended that you import the colors and leverage the sass variables.</p>
    </hc-tile>

    <hc-tile>
        <h5>Primary Palette</h5>
        <p>The primary colors used for branding, calls to action (buttons, links, etc), and other accents.</p>
        <div class="palette-row primary">
            <hc-swatch-demo-component hex="#ba160a" name="wcf-red" [isLarge]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#406181" name="wcf-blue" [isLarge]="true"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#DB8F91" name="red-light"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#590F12" name="red-dark"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#A1B0BF" name="blue-light"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#1F3040" name="blue-dark"></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Neutral Palette</h5>
        <p>The colors used for most interface elements like backgrounds, text, etc.</p>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#ffffff" name="white" [needsBorder]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#f6f7f7" name="gray-02" [needsBorder]="true"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#e9eaeb" name="gray-05" [needsBorder]="true"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#d7d8da" name="gray-10"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#afb2b4" name="gray-30"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#878b8f" name="gray-50"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#5e646a" name="gray-70"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#363e44" name="gray-90"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#0e171f" name="black"></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Feedback Palette</h5>
        <p>The colors used to give feedback to users, be it positive, negative, or neutral.</p>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#1ec834" name="success"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#ecac17" name="warning"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#f12e49" name="error"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#00aeff" name="info"></hc-swatch-demo-component>
        </div>
        <div class="palette-row">
            <hc-swatch-demo-component hex="#e3f9e6" name="success-bg"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#fdf5e2" name="warning-bg"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#fee5e9" name="error-bg"></hc-swatch-demo-component>
            <hc-swatch-demo-component hex="#dff4ff" name="info-bg"></hc-swatch-demo-component>
        </div>
    </hc-tile>

    <hc-tile>
        <h5>Default Color Usage</h5>
        <p class="description">
            Some guidelines on common element and attribute colors.
        </p>
        <ul class="color-var-list">
            <li><span class="mini-swatch" [style.backgroundColor]="'#878b8f'"></span><strong>Border Default: </strong> $gray-50
            </li>
            <li><span class="mini-swatch" [style.backgroundColor]="'#d7d8da'"></span><strong>Disabled State: </strong> $gray-10
            </li>
            <li><span class="mini-swatch" [style.backgroundColor]="'#d7d8da'"></span><strong>Divider Line: </strong> $gray-10
            </li>
            <li><span class="mini-swatch" [style.backgroundColor]="'#5e646a'"></span><strong>Icon Default: </strong> $gray-70
            </li>
            <li><span class="mini-swatch" [style.backgroundColor]="'#878b8f'"></span><strong>Label Default: </strong> $gray-50
            </li>
            <li><span class="mini-swatch" [style.backgroundColor]="'#363e44'"></span><strong>Text Default: </strong> $gray-90
            </li>
        </ul>
    </hc-tile>

    <hc-tile style="display:none;">
        <h5>Stratifying and Adding Colors</h5>
        <p class="description">
            There may be times that a product will need to expand the color palette, or use a variation on
            exisiting colors. In these cases we recommend one of two approaches:
        </p>

        <ol>
            <li>If importing the sass variables into your application, first try manipulating an existing color variable
                using the built in sass functions
                <code>darken()</code> or <code>lighten()</code>, or the library provided <code>shade()</code> or <code>tint()</code>
                functions.

                <pre><code>&#x00040;import &quot;../colors&quot;;

.my-component &#123;
    background-color: darken($slate-gray-100, 5%);
    color: tint($dark-blue, 5%);
&#125;</code></pre>

            </li>
            <li>If that doesn't suffice, or you are not using the sass variables, try using
                <a href="https://coolors.co/6e53a3-d7dde4-00aeff-00a859-006d9a" target="_blank">coolors.co</a>
                to help you stratify the base colors above or to generate new colors that fit within the color scheme. This
                color tool will also help you determine when you should use dark or light text on top of your color.
            </li>
        </ol>
    </hc-tile>

</div>
