<div class="demo-content">
    <h1>Accordion</h1>
    <h6>Last updated {{lastModified | date:'longDate'}}</h6>

    <hc-tab-set direction="horizontal">
    <hc-tab tabTitle="Overview">

    <hc-tile>
        <h5>About</h5>
        <p>The accordion component allows the user to expand or contract blocks of content.
        It allows for progressive disclosure — highlighting important details of a section and revealing more details upon a tap or click, if necessary.
        As a result, the design stays focused and displays critical information first, while everything else is easily accessible.</p>
    </hc-tile>

    <hc-tile>
        <h5>Examples</h5>
        <div class="sample-container">
            <hc-accordion [triggerAlign]="alignment" [hideToolbar]="hideToolbar" #accordion>
                <hc-accordion-toolbar>Toolbar</hc-accordion-toolbar>
                Content
            </hc-accordion>

            <button hc-button (click)="accordion.toggle()" class="demo-button">Toggle</button>
            <button hc-button (click)="toggleAlign()" class="demo-button">Toggle Alignment</button>
            <button hc-button (click)="toggleToolbar()" class="demo-button">Toggle Toolbar</button>
        </div>
    </hc-tile>

    </hc-tab>
    <hc-tab tabTitle="Documentation">
        <div [hcMarkdown]="document"></div>
    </hc-tab>
    </hc-tab-set>
</div>
