@import 'scss/charts';
@import 'scss/colors';
@import 'scss/mixins';

.d3-bar-chart {
    width: 100%;
    height: 400px;
}

.d3-bar-chart .axis line {
    stroke: $grid-lines;
}

.d3-bar-chart .tick:first-of-type line {
    stroke: $axis-lines;
}

.d3-bar-chart .axis .axis-label {
    fill: $axis-text;
    font-family: $chart-font-family;
    font-size: $chart-font-size;
    text-align: center;
}

.d3-bar-chart .bars .green-bar {
    fill: $green;
    &:hover {
        fill: darken($green, 5%);
    }
}

.d3-bar-chart .bars .blue-bar {
    fill: $blue;
    &:hover {
        fill: darken($blue, 5%);
    }
}

.d3-bar-chart .bars .purple-bar {
    fill: $purple;
    &:hover {
        fill: darken($purple, 5%);
    }
}

.tip-green {
    border: 1px solid $green !important;
    .tooltip-header {
        color: $green;
    }
}

.tip-blue {
    border: 1px solid $blue !important;
    .tooltip-header {
        color: $blue;
    }
}

.tip-purple {
    border: 1px solid $purple !important;
    .tooltip-header {
        color: $purple;
    }
}
